.background-image{
    background-image: url("/static/image/rangamati.jpg");
    background-color: #cccccc;
    height: 500px;
    width: 1536px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.speacial{
    background-image: url("/static/image/banner.jpg");
    background-color: #cccccc;
    height: 200px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
