<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback</title>
</head>
<body>
<a href="{% url 'Feedback' %}">Go to feedback</a>
    <form method="post" enctype="multipart/form-data">
        <h1 class=""><b>Images</b></h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
    <input type="submit" name="submit" value="Upload" />
    </form>

</body>
</html>